{
  "extends": "kyle",
  "rules": {
    "react/no-unused-prop-types": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0
  },
  "settings": {
    "jest": {
      "version": 29
    }
  }
}
